@font-face {
    font-family: 'Godbound';
    src: url('../fonts/godbound.woff2') format('woff2'),
        url('../fonts/godbound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fable';
    src: url('../fonts/fable.woff2') format('woff2'),
        url('../fonts/fable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body {
    height: 100%;
}

.no-left-border {
    border-left: none;
}

.no-bottom-border {
    border-bottom: none;
}

.no-right-border {
    border-right: none;
}

.no-top-border {
    border-top: none;
}

.bold {
    font-weight: 600;
}

.margin-bottom-7px {
    margin-bottom: 7px;
}

.padding-1em {
    padding: 1em;
}

.padding-2px {
    padding: 2px;
}

.padding-left-14px {
    padding-left: 14px;
}

.padding-halfem {
    padding: 0.5em;
}

/* Gives all divs serving as button a pointer */
div [type=roll] {
    cursor: pointer;
}

div [type=roll]:hover {
    background: #b791304d;
}

/* Gives all divs serving as button a pointer */
div [type=button] {
    cursor: pointer;
}

div [type=button] {
    background: #b791304d;
}

.small-font {
    font-size: 0.8rem;
}

.space-around {
    justify-content: space-around;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}

.padding-left-halfem {
    padding-left: 0.5em;
}

.padding-top-halfem {
    padding-top: 0.5em;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-right-1em {
    margin-right: 1em;
}

.margin-top-halfem {
    margin-top: 0.5em;
}

.margin-bottom-halfem {
    margin-bottom: 0.5em;
}

.margin-right-halfem {
    margin-right: 0.5em;
}

.margin-left-halfem {
    margin-left: 0.5em;
}

.godbound-font {
    font-family: "Godbound", Garamond, "Times New Roman", Georgia, serif;
}

.fable-font {
    font-family: "Godbound", Garamond, "Times New Roman", Georgia, serif;
    color: rgb(0, 89, 64);
    font-size: 18px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.center-column {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.w50 {
    width: 50%;
}

.pointer {
    cursor: pointer;
}

.trash-button {
    font-size: 16px;
    color: rgb(0, 89, 64);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center !important;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.godbound-button {
    font-family: "Godbound", Garamond, "Times New Roman", Georgia, serif;
    border: 2px solid #b7913075;
    border-radius: 4px;
    text-align: center;
    min-width: 72px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-image: url('../images/charsheet-button-background.png');
    background-position: center;
    padding: 3px;
}

.godbound-button.active {
    color: rgb(221 72 72);
}