<form class="sheetform-character charsheet-form-player" autocomplete="off">
	<div class="charactersheet tab-pane charsheet charsheet-char lang-undefined" style="display: block;">
		<div class="charsheet-overall-wrapper">
			<div class="">
				<div class="">
					<div class="">
						<div>
							<div class="flex">
								<div class="fable-font margin-bottom-1em margin-right-1em bold">
									Name
								</div>
								<input type="text" name="name" value="{{actor.name}}" data-type="String">
							</div>
							<div class="flex">
								<div class="margin-right-1em portrait">
									<img class="profile-img godbound-border" src="{{actor.img}}" data-edit="img"
										title="{{actor.name}}" />
								</div>
								<div class="flex column stat-container center">
									<div class="flex margin-bottom-halfem">
										<div class="flex column center-column stat-col" data-tooltip="<div class=&quot;&quot;>MOD: {{system.attributes.str.mod}}</div>
										<div>DC: {{system.attributes.str.checkDC}}</div>" data-tooltip-direction="UP">
											<div class="fable-font bold stat-info" type="roll" data-dialog="true"
												data-type="attr" data-stat="str" class="sheet-button"
												name="roll_strength_check">
												STR
											</div>
											<div class="stat-info stat-info-sub-item no-top-border">
												<input type="number" name="system.attributes.str.score"
													value="{{system.attributes.str.score}}" data-type="Number">
											</div>
										</div>
										<div class="flex column center-column stat-col" data-tooltip="<div class=&quot;&quot;>MOD: {{system.attributes.dex.mod}}</div>
										<div>DC: {{system.attributes.dex.checkDC}}</div>" data-tooltip-direction="UP">
											<div class="fable-font bold stat-info no-left-border" type="roll"
												data-dialog="true" data-type="attr" data-stat="dex" class="sheet-button"
												name="roll_dexterity_check">
												DEX
											</div>
											<div class="stat-info stat-info-sub-item no-left-border no-top-border">
												<input type="number" name="system.attributes.dex.score"
													value="{{system.attributes.dex.score}}" data-type="Number">
											</div>
										</div>
										<div class="flex column center-column stat-col" data-tooltip="<div class=&quot;&quot;>MOD: {{system.attributes.con.mod}}</div>
										<div>DC: {{system.attributes.con.checkDC}}</div>" data-tooltip-direction="UP">
											<div class="fable-font bold stat-info no-left-border" type="roll"
												data-dialog="true" data-type="attr" data-stat="con" class="sheet-button"
												name="roll_con_check">
												CON
											</div>
											<div class="stat-info stat-info-sub-item no-left-border no-top-border">
												<input type="number" name="system.attributes.con.score"
													value="{{system.attributes.con.score}}" data-type="Number">
											</div>
										</div>
										<div class="flex column center-column stat-col" data-tooltip="<div class=&quot;&quot;>MOD: {{system.attributes.int.mod}}</div>
										<div>DC: {{system.attributes.int.checkDC}}</div>" data-tooltip-direction="UP">
											<div class="fable-font bold stat-info no-left-border" type="roll"
												data-dialog="true" data-type="attr" data-stat="int" class="sheet-button"
												name="roll_int_check">
												INT
											</div>
											<div class="stat-info stat-info-sub-item no-left-border no-top-border">
												<input type="number" name="system.attributes.int.score"
													value="{{system.attributes.int.score}}" data-type="Number">
											</div>
										</div>
										<div class="flex column center-column stat-col" data-tooltip="<div class=&quot;&quot;>MOD: {{system.attributes.wis.mod}}</div>
										<div>DC: {{system.attributes.wis.checkDC}}</div>" data-tooltip-direction="UP">
											<div class="fable-font bold stat-info no-left-border" type="roll"
												data-dialog="true" data-type="attr" data-stat="wis" class="sheet-button"
												name="roll_wis_check">
												WIS
											</div>
											<div class="stat-info stat-info-sub-item no-left-border no-top-border">
												<input type="number" name="system.attributes.wis.score"
													value="{{system.attributes.wis.score}}" data-type="Number">
											</div>
										</div>
										<div class="flex column center-column stat-col" data-tooltip="<div class=&quot;&quot;>MOD: {{system.attributes.cha.mod}}</div>
										<div>DC: {{system.attributes.cha.checkDC}}</div>" data-tooltip-direction="UP">
											<div class="fable-font bold stat-info no-left-border" type="roll"
												data-dialog="true" data-type="attr" data-stat="cha" class="sheet-button"
												name="roll_cha_check">
												CHA
											</div>
											<div class="stat-info stat-info-sub-item no-left-border no-top-border">
												<input type="number" name="system.attributes.cha.score"
													value="{{system.attributes.cha.score}}" data-type="Number">
											</div>
										</div>
									</div>
									<div class="flex">
										<div class="flex margin-right-halfem">
											<div class="flex column center-column stat-col">
												<div class="stat-info stat-info-sub-item no-bottom-border flex">
													<input min="0" max="{{system.abilityPoints.total}}" type="number"
														name="system.abilityPoints.free"
														value="{{system.abilityPoints.free}}" data-type="Number">
													<div class="bold margin-left-halfem margin-right-halfem">/</div>
													<input type="number" name="system.abilityPoints.total"
														value="{{system.abilityPoints.total}}" data-type="Number">
												</div>
												<div class="fable-font bold stat-info ability-points">
													Ability Points
												</div>
											</div>
										</div>
										<div class="flex margin-right-halfem">
											<div class="flex column center-column stat-col">
												<div class="stat-info stat-info-sub-item no-bottom-border flex">
													<input min="0" max="{{system.coreStats.hp.max}}" type="number"
														name="system.coreStats.hp.current"
														value="{{system.coreStats.hp.current}}" data-type="Number">
													<div class="bold margin-left-halfem margin-right-halfem">/</div>
													<input disabled="true" type="number" name="system.coreStats.hp.max"
														value="{{system.coreStats.hp.max}}" data-type="Number">
												</div>
												<div data-tooltip="<div class=&quot;&quot;>BONUS: {{system.coreStats.hp.miscBonus}}</div>"
													data-tooltip-direction="DOWN" class="fable-font bold stat-info">
													Hit Points
												</div>
											</div>
										</div>
										<div class="flex">
											<div class="flex column center-column stat-col">
												<div class="save-info stat-info-sub-item no-bottom-border flex">
													<div type="roll" data-dialog="true" data-type="hardiness"
														class="stat-info-saves no-bottom-border no-right-border"
														name="roll_hardiness_save" data-tooltip="<div>MOD: {{system.coreStats.saves.hardiness.attributeModifier}}</div>
													PENALTY: {{system.coreStats.saves.hardiness.penaltyModifier}}</div>
													<div>DC: {{system.coreStats.saves.hardiness.dc}}</div>" data-tooltip-direction="DOWN"">
														HAR
													</div>
													<div type=" roll" data-dialog="true" data-type="evasion"
														class="stat-info-saves no-bottom-border no-right-border"
														name="roll_hardiness_save" data-tooltip="<div>MOD: {{system.coreStats.saves.evasion.attributeModifier}}</div>
														PENALTY: {{system.coreStats.saves.evasion.penaltyModifier}}</div>
														<div>DC: {{system.coreStats.saves.evasion.dc}}</div>" data-tooltip-direction="DOWN">
														EVA
													</div>
													<div type="roll" data-dialog="true" data-type="spirit"
														class="stat-info-saves no-bottom-border"
														name="roll_hardiness_save" data-tooltip="<div>MOD: {{system.coreStats.saves.spirit.attributeModifier}}</div>
													PENALTY: {{system.coreStats.saves.spirit.penaltyModifier}}</div>
													<div>DC: {{system.coreStats.saves.spirit.dc}}</div>" data-tooltip-direction="DOWN">
														SPI
													</div>
												</div>
												<div class="fable-font bold stat-info">
													Saves
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="charsheet-tabs flex center" data-group="charsheet">
							<div class="margin-right-1em item godbound-button" data-tab="char" data-group="charsheet">
								Character</div>
							<div class="margin-right-1em item godbound-button" data-tab="divine" data-group="charsheet">
								Divine</div>
							<div class="margin-right-1em item godbound-button" data-tab="combat" data-group="charsheet">
								Combat</div>
							<div class="margin-right-1em item godbound-button" data-tab="arts" data-group="charsheet">
								Arts</div>
							<div class="margin-right-1em item godbound-button" data-tab="dominion"
								data-group="charsheet">
								Dominion</div>
							<div class="margin-right-1em item godbound-button" data-tab="inventory"
								data-group="charsheet">
								Inventory</div>
							<div class="item godbound-button" data-tab="status" data-group="charsheet">
								Status</div>
						</div>
						<section class="charsheet-content">
							<div data-group="charsheet" data-tab="char" class="tab">
								<div class="flex h100">
									<div class="flex column w50 margin-right-halfem left-col">
										<div
											class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main  stat-info margin-bottom-halfem no-left-border no-right-border">
											General
										</div>
										<div class="charsheet-col-sub-area sheet-column">
											<div class="flex space-between">
												<div
													class="fable-font margin-bottom-1em margin-right-1em bold sheet-text-header">
													Level
												</div>
												<input class="text-center" type="number"
													name="system.coreStats.levelOrHD"
													value="{{system.coreStats.levelOrHD}}" data-type="Number">
											</div>
											<div class="flex space-between">
												<div
													class="fable-font margin-bottom-1em margin-right-1em bold sheet-text-header">
													Exp
												</div>
												<input class="text-center" type="number" name="system.xp"
													value="{{system.xp}}" data-type="Number">
											</div>
											<div class="flex space-between">
												<div
													class="fable-font margin-bottom-1em margin-right-1em bold sheet-text-header">
													Desc
												</div>
												<textarea class="w100 sheet-resize-vertical text-area-large"
													name="system.base.description"
													placeholder="Character description">{{system.base.description}}</textarea>
											</div>
											<div class="flex space-between">
												<div
													class="fable-font margin-bottom-1em margin-right-1em bold sheet-text-header">
													Lang
												</div>
												<textarea class="w100 sheet-resize-vertical text-area-large"
													name="system.base.languages"
													placeholder="Languages known">{{system.base.languages}}</textarea>
											</div>
											<div class="flex space-between">
												<div class="fable-font margin-right-1em bold sheet-text-header">
													Goal
												</div>
												<textarea class="w100 sheet-resize-vertical text-area-large"
													name="system.base.goals" data-type="String"
													placeholder="Goals">{{system.base.goals}}</textarea>
											</div>
											<div class="flex space-between">
												<div class="fable-font margin-right-1em bold sheet-text-header">
													Notes
												</div>
												<textarea class="w100 sheet-resize-vertical text-area-large"
													name="system.base.notes">{{system.base.notes}}</textarea>
											</div>
										</div>
									</div>
									<div class="flex column w50 right-col">
										<div
											class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main  stat-info margin-bottom-halfem no-left-border no-right-border">
											Facts
										</div>
										<div class="charsheet-col-sub-area sheet-column h100 overflow-hidden">
											<div class="sheet-facts">
												{{#each system.facts}}
												<div class="flex center-column">
													<textarea class="w100 sheet-resize-vertical margin-right-halfem"
														name="system.facts.{{@key}}"
														placeholder="New Fact">{{this}}</textarea>
													<div class="trash-button margin-right-halfem fa-solid fa-trash-can"
														data-index="{{@key}}" type="remove" data-typetoremove="fact">
													</div>
												</div>
												{{/each}}
											</div>
											<div type="addto" data-typetoadd="fact"
												class="add-fact-button godbound-button margin-top-halfem">
												Add</div>
										</div>
									</div>
								</div>
							</div>
							<div data-group="charsheet" data-tab="combat" class="tab">
								<div
									class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main stat-info margin-bottom-halfem margin-top-halfem">
									Armor
								</div>
								<div class="sheet-row sheet-pad-b-sm">
									<div
										class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md">
										Type
									</div>
									<div
										class="sheet-col-17-20 sheet-attr sheet-vert-middle sheet-pad-t-sm sheet-pad-r-md">
										<select class="sheet-select" name="system.coreStats.ac.armorType">
											{{#select system.coreStats.ac.armorType}}
											<option value="none">None (Skin or clothing)</option>
											<option value="light">Light (Leathers or hides)</option>
											<option value="medium">Medium (Mail or light plate) [-4 to one save]
											</option>
											<option value="heavy">Heavy (Heavy plate) [-4 to two saves]</option>
											<option value="special">Divine Gift (Granted AC of 3)</option>
											{{/select}}
										</select>
									</div>
								</div>
								<div class="sheet-row sheet-pad-t-md">
									<div
										class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md">
										AC
									</div>
									<div
										class="sheet-col-1-10 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md">
										<input type="number" name="system.coreStats.ac.total"
											value="{{system.coreStats.ac.total}}" disabled="true">
									</div>
									<div
										class="sheet-col-1-5 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md sheet-mar-t-sm">
										<input type="checkbox" class="sheet-box-check"
											name="system.coreStats.ac.hasShield" {{checked
											system.coreStats.ac.hasShield}}><label>Shield</label>
									</div>
									<div class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-r-md">
										Bonus
									</div>
									<div
										class="sheet-col-1-10 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md">
										<input type="number" name="system.coreStats.ac.miscModifier"
											value="{{system.coreStats.ac.miscModifier}}">
									</div>
									<!-- <div
										class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md">
										Total
									</div>
									<div
										class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-sm">
										<input type="number" name="attr_armor_total" value="9" disabled="true"
											data-formula="((@{armor_ac}) + (@{armor_shield}) - (@{armor_bonus}) - (@{dexterity_mod}))">
									</div> -->
								</div>
								<div class="sheet-row sheet-pad-b-sm sheet-pad-t-md">
									<div class="sheet-col-1 sheet-attr sheet-pad-r-sm">
										<textarea class="sheet-small-textarea sheet-resize-vertical"
											name="system.coreStats.ac.armorDescription"
											placeholder="Armor description">{{system.coreStats.ac.armorDescription}}</textarea>
									</div>
								</div>
								<div class="flexrow" style="justify-content: space-evenly;">
									<div class="flex0 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md sheet-pad-t-lg"
										style="white-space: nowrap;">
										Save Penalties:
									</div>
									<div
										class="flex0 sheet-attr sheet-vert-middle sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm sheet-mar-t-md">
										<input type="checkbox" class="sheet-box-check"
											name="system.coreStats.saves.hardiness.isArmorPenalty" {{checked
											system.coreStats.saves.hardiness.isArmorPenalty}}><label>Hardiness</label>
									</div>
									<div
										class="flex0 sheet-attr sheet-vert-middle sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm sheet-mar-t-md">
										<input type="checkbox" class="sheet-box-check"
											name="system.coreStats.saves.evasion.isArmorPenalty" {{checked
											system.coreStats.saves.evasion.isArmorPenalty}}><label>Evasion</label>
									</div>
									<div
										class="flex0 sheet-attr sheet-vert-middle sheet-pad-t-md sheet-pad-r-sm sheet-pad-b-sm sheet-mar-t-md">
										<input type="checkbox" class="sheet-box-check"
											name="system.coreStats.saves.spirit.isArmorPenalty" {{checked
											system.coreStats.saves.spirit.isArmorPenalty}}><label>Spirit</label>
									</div>
								</div>
								<div
									class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main stat-info margin-bottom-halfem margin-top-halfem">
									Attacks
								</div>
								<ol class="items-list">
									<li class="item flexrow items-header">
										<div class="item-name flex0" style="min-width: max-content;">Icon</div>
										<div class="item-name flex0"
											style="min-width: max-content; margin-left: 20px; margin-right: 30px;">Name
										</div>
										<div class="item-name flex1" style="min-width: max-content; ">To Hit</div>
										<div class="item-name flex2" style="min-width: max-content; ">Damage</div>
										<div class="item-name flex1" style="min-width: max-content; ">Range</div>
										<div class="item-name flex1" style="min-width: max-content;">Area</div>
										<div class="item-controls">
											<a class="item-control item-create" title="Create item"
												style="min-width: max-content;" data-type="attack"><i
													class="fas fa-plus"></i> Add Attack</a>
										</div>
									</li>
									{{#each attacks as |item id|}}
									<li class="item flexrow" style="align-items: center;" data-item-id="{{item._id}}">
										<div class="item-name flex0"
											style="min-width: max-content; margin-right: 10px;">
											<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
										</div>
										<div class="item-name flex0"
											style="min-width: max-content; margin-right: 10px;">
											<label style="font-weight: bold;">{{item.name}}</label>
										</div>
										<div class="item-name flex1"
											style="min-width: max-content; margin-right: 10px;">
											<label>{{item.summaries.toHit}}</label>
										</div>
										<div class="item-name flex2"
											style="min-width: max-content; margin-right: 10px;">
											<label>{{item.summaries.damage}}</label>
										</div>
										<div class="item-name flex1"
											style="min-width: max-content; margin-right: 10px;">
											<label>{{item.summaries.range}}</label>
										</div>
										<div class="item-name flex1"
											style="min-width: max-content; margin-right: 10px;">
											<label>{{item.summaries.area}}</label>
										</div>
										<div class="item-controls">
											<div class="item-control item-paste margin-right-halfem" title="Paste Item">
												<i class="fas fa-comment"></i>
											</div>
											<div type="roll" data-type="attack" data-damage="{{item.summaries.damage}}"
												data-tohit="{{item.summaries.toHit}}"
												class="item-control item-roll margin-right-halfem" title="Roll Item"><i
													class="fas fa-dice-d20"></i></div>
											<div class="item-control item-edit margin-right-halfem" title="Edit Item"><i
													class="fas fa-edit"></i></div>
											<div class="item-control item-delete" title="Delete Item"><i
													class="fas fa-trash"></i></div>
										</div>
									</li>
									{{/each}}
								</ol>
							</div>
							<div data-group="charsheet" data-tab="divine" class="tab">
								<div
									class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main  stat-info margin-bottom-halfem no-left-border no-right-border">
									Effort
								</div>
								<div class="flexrow"
									style="margin-top: 5px; align-items: center; justify-content: center;">
									<div class="flex">
										<div class="godbound-font bold margin-right-halfem single-col-tab-stats-title">
											Committed
										</div>
										<div
											class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md">
											<input type="number" name="system.coreStats.effort.committed"
												value="{{system.coreStats.effort.committed}}" data-type="Number">
										</div>
									</div>
									<div class="godbound-font bold margin-right-halfem single-col-tab-stats-title">
										Totals
									</div>
									<div class="flex">
										<input disabled="true" min="0" max="{{system.coreStats.effort.max}}"
											type="number" name="system.coreStats.effort.free"
											value="{{system.coreStats.effort.free}}" data-type="Number">
										<div class="bold margin-left-halfem margin-right-halfem">/</div>
										<input disabled="true" type="number" name="system.coreStats.effort.max"
											value="{{system.coreStats.effort.max}}" data-type="Number">
									</div>
								</div>
								<div
									class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main stat-info margin-bottom-halfem margin-top-halfem">
									Words of Creation
								</div>
								<ol class="items-list">
									<li class="item flexrow items-header">
										<div class="item-name flex0" style="min-width: max-content;">Icon</div>
										<div class="item-name flex0" style="min-width: max-content; margin-left: 20px;">
											Name</div>
										<div class="item-name flex1" style="margin-left: 180px;">Description</div>
										<div class="item-controls">
											<a class="item-control item-create" title="Create item" data-type="word"><i
													class="fas fa-plus"></i> Add Word</a>
										</div>
									</li>
									{{#each words as |item id|}}
									<li class="item flexrow" style="align-items: center;" data-item-id="{{item._id}}">
										<div class="item-name flex0"
											style="min-width: max-content; margin-right: 10px;">
											<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
										</div>
										<div class="item-name flex0"
											style="min-width: max-content; margin-right: 10px;">
											<label style="font-weight: bold;">{{item.name}}</label>
										</div>
										<div class="item-name flex1" style="margin-right: 10px;">
											<textarea>{{item.system.base.description}}</textarea>
										</div>
										<div class="item-controls flex0" style="min-width: max-content;">
											<div class="item-control item-paste margin-right-halfem" title="Paste Item">
												<i class="fas fa-comment"></i>
											</div>
											<div class="item-control item-edit margin-right-halfem" title="Edit Item"><i
													class="fas fa-edit"></i></div>
											<div class="item-control item-delete" title="Delete Item"><i
													class="fas fa-trash"></i></div>
										</div>
									</li>
									{{/each}}
								</ol>
								<div
									class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main stat-info margin-bottom-halfem margin-top-halfem">
									Gifts
								</div>
								<ol class="items-list">
									<li class="item flexrow items-header">
										<div class="item-name flex0" style="min-width: max-content;">Icon</div>
										<div class="item-name flex0" style="min-width: max-content; margin-left: 20px;">
											Name</div>
										<div class="item-name flex1" style="margin-left: 180px;">Description</div>
										<div class="item-controls">
											<a class="item-control item-create" title="Create item" data-type="gift"><i
													class="fas fa-plus"></i> Add Gift</a>
										</div>
									</li>
									{{#each gifts as |item id|}}
									<li class="item flexrow" style="align-items: center;" data-item-id="{{item._id}}">
										<div class="item-name flex0"
											style="min-width: max-content; margin-right: 10px;">
											<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
										</div>
										<div class="item-name flex0"
											style="min-width: max-content; margin-right: 10px;">
											<label style="font-weight: bold;">{{item.name}}</label>
										</div>
										<div class="item-name flex1" style="margin-right: 10px;">
											<textarea>{{item.system.base.description}}</textarea>
										</div>
										<div class="item-controls flex0" style="min-width: max-content;">
											<div class="item-control item-paste margin-right-halfem" title="Paste Item">
												<i class="fas fa-comment"></i>
											</div>
											<div class="item-control item-edit margin-right-halfem" title="Edit Item"><i
													class="fas fa-edit"></i></div>
											<div class="item-control item-delete" title="Delete Item"><i
													class="fas fa-trash"></i></div>
										</div>
									</li>
									{{/each}}
								</ol>
							</div>
							<div data-group="charsheet" data-tab="arts" class="tab">
							</div>
							<div data-group="charsheet" data-tab="dominion" class="tab">
								<div class="flex margin-right-halfem">
									<div class="flex column center-column stat-col w100">
										<div
											class="fable-font bold stat-info margin-bottom-1em no-left-border no-right-border">
											Dominion
										</div>
										<div class="flex column single-col-tab-stats">
											<div class="flex">
												<div
													class="godbound-font bold margin-right-halfem margin-bottom-1em single-col-tab-stats-title">
													Spent
												</div>
												<div
													class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-md">
													<input type="number" name="system.dominion.spent"
														value="{{system.dominion.spent}}" data-type="Number">
												</div>
											</div>
											<div class="flex">
												<div
													class="godbound-font bold margin-right-halfem single-col-tab-stats-title">
													Totals
												</div>
												<div class="flex">
													<input disabled="true" min="0" max="{{system.dominion.total}}"
														type="number" name="system.dominion.free"
														value="{{system.dominion.free}}" data-type="Number">
													<div class="bold margin-left-halfem margin-right-halfem">/</div>
													<input type="number" name="system.dominion.total"
														value="{{system.dominion.total}}" data-type="Number">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div data-group="charsheet" data-tab="inventory" class="tab">
							</div>
							<div data-group="charsheet" data-tab="status" class="tab">
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
</form>