<form class="sheetform-npc" autocomplete="off">
	<div class="charactersheet tab-pane charsheet charsheet-npc lang-undefined" style="display: block;">
		<div class="charsheet-overall-wrapper">
			<div>
				<div class="flex">
					<div class="fable-font margin-bottom-1em margin-right-1em bold">
						Name
					</div>
					<input type="text" name="system.base.name" value="{{system.base.name}}" data-type="String">
				</div>
				<div class="flex">
					<div class="margin-right-1em portrait">
						<img class="profile-img godbound-border" src="{{actor.img}}" data-edit="img"
							title="{{system.base.name}}" />
					</div>
					<div class="flex column">
						<div class="flex column stat-container center margin-bottom-halfem">
							<div class="flex">
								<div class="flex column stat-col-npc">
									<div class="fable-font bold stat-info" class="sheet-button">
										Hit Dice
									</div>
									<div class="flex column padding-halfem stat-info-npc-border">
										<div class="flex">
											<div class="stat-info-npc stat-info-sub-item-npc">
												Level
											</div>
											<div class="padding-left-14px stat-info-npc stat-info-sub-item-npc">
												<input type="number" name="actor.coreStats.levelOrHD"
													value="{{system.coreStats.levelOrHD}}" data-type="Number">
											</div>
										</div>
										<div class="flex">
											<div class="stat-info-npc stat-info-sub-item-npc">
												Bonus
											</div>
											<div class="padding-left-14px stat-info-npc stat-info-sub-item-npc">
												<input type="number" name="system.coreStats.hp.miscBonus"
													value="{{system.coreStats.hp.miscBonus}}" data-type="Number">
											</div>
										</div>
										<div class="stat-info-npc stat-info-sub-item-npc flex center">
											<input class="stat-info-npc-hp-input" min="0"
												max="{{system.coreStats.hp.max}}" type="number"
												name="system.coreStats.hp.current"
												value="{{system.coreStats.hp.current}}" data-type="Number">
											<div class="bold margin-left-halfem margin-right-halfem">/</div>
											<input class="stat-info-npc-hp-input" disabled="true" type="number"
												name="system.coreStats.hp.max" value="{{system.coreStats.hp.max}}"
												data-type="Number">
										</div>
									</div>
								</div>
								<div class="flex column stat-col-npc">
									<div class="fable-font bold stat-info" class="sheet-button">
										Saves
									</div>
									<div class="stat-info-npc-border padding-halfem">
										<div class="flex">
											<div type="roll" data-dialog="true" data-type="hardiness"
												class="stat-info-npc stat-info-sub-item-npc margin-right-halfem"
												name="roll_hardiness_save" data-tooltip="<div>MOD: {{system.coreStats.saves.hardiness.attributeModifier}}</div>
									PENALTY: {{system.coreStats.saves.hardiness.penaltyModifier}}</div>
									<div>DC: {{system.coreStats.saves.hardiness.dc}}</div>" data-tooltip-direction="DOWN"">
										Hardiness
									</div>
									<div class=" stat-info-npc stat-info-sub-item-npc flex">
												<input type="number" name="system.coreStats.saves.hardiness.dc"
													value="{{system.coreStats.saves.hardiness.dc}}" data-type="Number">
											</div>
										</div>
										<div class="flex">
											<div type="roll" data-dialog="true" data-type="evasion"
												class="stat-info-npc stat-info-sub-item-npc margin-right-halfem"
												name="roll_evasion_save" data-tooltip="<div>MOD: {{system.coreStats.saves.evasion.attributeModifier}}</div>
									PENALTY: {{system.coreStats.saves.evasion.penaltyModifier}}</div>
									<div>DC: {{system.coreStats.saves.evasion.dc}}</div>" data-tooltip-direction="DOWN"">
										Evasion
									</div>
									<div class=" stat-info-npc stat-info-sub-item-npc flex">
												<input type="number" name="system.coreStats.saves.evasion.dc"
													value="{{system.coreStats.saves.evasion.dc}}" data-type="Number">
											</div>
										</div>
										<div class="flex">
											<div type="roll" data-dialog="true" data-type="sprit"
												class="stat-info-npc stat-info-sub-item-npc margin-right-halfem"
												name="roll_sprit_save" data-tooltip="<div>MOD: {{system.coreStats.saves.sprit.attributeModifier}}</div>
									PENALTY: {{system.coreStats.saves.sprit.penaltyModifier}}</div>
									<div>DC: {{system.coreStats.saves.sprit.dc}}</div>" data-tooltip-direction="DOWN"">
										Spirit
									</div>
									<div class=" stat-info-npc stat-info-sub-item-npc flex">
												<input type="number" name="system.coreStats.saves.sprit.dc"
													value="{{system.coreStats.saves.sprit.dc}}" data-type="Number">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="flex stat-container center">
							<div class="flex column center-column stat-col-npc">
								<div
									class="padding-2px stat-info-npc stat-info-sub-item-npc flex center stat-info-npc-border">
									<input type="number" name="system.coreStats.actions"
										value="{{system.coreStats.actions}}" data-type="Number">
								</div>
								<div class="fable-font bold stat-info" class="sheet-button">
									Actions
								</div>
							</div>
							<div class="flex column center-column stat-col-npc">
								<div
									class="padding-2px stat-info-npc stat-info-sub-item-npc flex center stat-info-npc-border">
									<input type="number" name="system.coreStats.attacks"
										value="{{system.coreStats.attacks}}" data-type="Number">
								</div>
								<div class="fable-font bold stat-info" class="sheet-button">
									Attacks
								</div>
							</div>
							<div class="flex column center-column stat-col-npc">
								<div
									class="padding-2px stat-info-npc stat-info-sub-item-npc flex center  stat-info-npc-border">
									<input type="number" name="system.coreStats.morale"
										value="{{system.coreStats.morale}}" data-type="Number">
								</div>
								<div class="fable-font bold stat-info" class="sheet-button">
									Morale
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="npcsheet-tabs flex center" data-group="npcsheet">
				<div class="margin-right-1em item godbound-button" data-tab="npc" data-group="npcsheet">
					Character</div>
				<div class="margin-right-1em item godbound-button" data-tab="combat" data-group="npcsheet">
					Combat</div>
				<div class="margin-right-1em item godbound-button" data-tab="arts" data-group="npcsheet">Arts</div>
			</div>
			<section class="npcsheet-content">
				<div data-group="npcsheet" data-tab="npc" class="tab">
					<div class="flex h100">
						<div class="flex column w50 margin-right-halfem left-col">
							<div
								class="fable-font margin-right-1em bold sheet-text-header sheet-text-header-main stat-info margin-bottom-halfem fancy-break">
								General
							</div>
							<div class="charsheet-col-sub-area sheet-column">
								<div class="flex space-between">
									<div class="fable-font margin-bottom-1em margin-right-1em bold sheet-text-header">
										Desc
									</div>
									<textarea class="w100 sheet-resize-vertical text-area-large"
										name="system.base.description"
										placeholder="Character description">{{system.base.description}}</textarea>
								</div>
								<div class="flex space-between">
									<div class="fable-font margin-bottom-1em margin-right-1em bold sheet-text-header">
										Lang
									</div>
									<textarea class="w100 sheet-resize-vertical text-area-large"
										name="system.base.languages"
										placeholder="Languages known">{{system.base.languages}}</textarea>
								</div>
								<div class="flex space-between">
									<div class="fable-font margin-right-1em bold sheet-text-header">
										Goal
									</div>
									<textarea class="w100 sheet-resize-vertical text-area-large"
										name="system.base.goals" data-type="String"
										placeholder="Goals">{{system.base.goals}}</textarea>
								</div>
								<div class="flex space-between">
									<div class="fable-font margin-right-1em bold sheet-text-header">
										Notes
									</div>
									<textarea class="w100 sheet-resize-vertical text-area-large"
										name="system.base.notes">{{system.base.notes}}</textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-group="npcsheet" data-tab="combat" class="tab">
					<div class="sheet-row">
						<div
							class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md sheet-mar-b-sm">
							<h3>Armor</h3>
						</div>
					</div>
					<div class="sheet-row sheet-pad-b-sm">
						<div
							class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md">
							Type
						</div>
						<div class="sheet-col-17-20 sheet-attr sheet-vert-middle sheet-pad-t-sm sheet-pad-r-md">
							<select class="sheet-select" name="system.coreStats.ac.armorType">
								{{#select system.coreStats.ac.armorType}}
								<option value="none">None (Skin or clothing)</option>
								<option value="light">Light (Leathers or hides)</option>
								<option value="medium">Medium (Mail or light plate) [-4 to one save]
								</option>
								<option value="heavy">Heavy (Heavy plate) [-4 to two saves]</option>
								<option value="special">Divine Gift (Granted AC of 3)</option>
								{{/select}}
							</select>
						</div>
					</div>
					<div class="sheet-row sheet-pad-t-md">
						<div
							class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md">
							AC
						</div>
						<div class="sheet-col-1-10 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md">
							<input type="number" name="system.coreStats.ac.total" value="{{system.coreStats.ac.total}}"
								disabled="true">
						</div>
						<div
							class="sheet-col-1-5 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md sheet-mar-t-sm">
							<input type="checkbox" class="sheet-box-check" name="system.coreStats.ac.hasShield"
								{{checked system.coreStats.ac.hasShield}}><label>Shield</label>
						</div>
						<div class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-r-md">
							Bonus
						</div>
						<div class="sheet-col-1-10 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-md">
							<input type="number" name="system.coreStats.ac.miscModifier"
								value="{{system.coreStats.ac.miscModifier}}">
						</div>
						<!-- <div
					class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md">
					Total
				</div>
				<div
					class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-r-sm">
					<input type="number" name="attr_armor_total" value="9" disabled="true"
						data-formula="((@{armor_ac}) + (@{armor_shield}) - (@{armor_bonus}) - (@{dexterity_mod}))">
				</div> -->
					</div>
					<div class="sheet-row sheet-pad-b-sm sheet-pad-t-md">
						<div class="sheet-col-1 sheet-attr sheet-pad-r-sm">
							<textarea class="sheet-small-textarea sheet-resize-vertical"
								name="system.coreStats.ac.armorDescription"
								placeholder="Armor description">{{system.coreStats.ac.armorDescription}}</textarea>
						</div>
					</div>
					<div class="flexrow" style="justify-content: space-evenly;">
						<div class="flex0 sheet-attr sheet-vert-middle sheet-right sheet-pad-l-sm sheet-pad-r-md sheet-pad-t-lg"
							style="white-space: nowrap;">
							Save Penalties:
						</div>
						<div
							class="flex0 sheet-attr sheet-vert-middle sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm sheet-mar-t-md">
							<input type="checkbox" class="sheet-box-check"
								name="system.coreStats.saves.hardiness.isArmorPenalty" {{checked
								system.coreStats.saves.hardiness.isArmorPenalty}}><label>Hardiness</label>
						</div>
						<div
							class="flex0 sheet-attr sheet-vert-middle sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm sheet-mar-t-md">
							<input type="checkbox" class="sheet-box-check"
								name="system.coreStats.saves.evasion.isArmorPenalty" {{checked
								system.coreStats.saves.evasion.isArmorPenalty}}><label>Evasion</label>
						</div>
						<div
							class="flex0 sheet-attr sheet-vert-middle sheet-pad-t-md sheet-pad-r-sm sheet-pad-b-sm sheet-mar-t-md">
							<input type="checkbox" class="sheet-box-check"
								name="system.coreStats.saves.spirit.isArmorPenalty" {{checked
								system.coreStats.saves.spirit.isArmorPenalty}}><label>Spirit</label>
						</div>
					</div>
					<div class="sheet-row">
						<div
							class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md sheet-mar-b-sm">
							<h3>Attacks</h3>
						</div>
					</div>
					<ol class="items-list">
						<li class="item flexrow items-header">
							<div class="item-name">Icon</div>
							<div class="item-name">Name</div>
							<div class="item-name">To Hit</div>
							<div class="item-name">Damage</div>
							<div class="item-name">Range</div>
							<div class="item-name">Area</div>
							<div class="item-controls">
								<a class="item-control item-create" title="Create item" data-type="attack"><i
										class="fas fa-plus"></i> Add Attack</a>
							</div>
						</li>
						{{#each attacks as |item id|}}
						<li class="item flexrow" style="align-items: center;" data-item-id="{{item._id}}">
							<div class="item-name">
								<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
							</div>
							<div class="item-name">
								<label>{{item.name}}</label>
							</div>
							<div class="item-name">
								<label>{{item.summaries.toHit}}</label>
							</div>
							<div class="item-name">
								<label>{{item.summaries.damage}}</label>
							</div>
							<div class="item-name">
								<label>{{item.summaries.range}}</label>
							</div>
							<div class="item-name">
								<label>{{item.summaries.area}}</label>
							</div>
							<div class="item-controls">
								<a class="item-control item-paste" title="Paste Item"><i class="fas fa-comment"></i></a>
								<a class="item-control item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
								<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
								<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
							</div>
						</li>
						{{/each}}
					</ol>
				</div>
				<div data-group="npcsheet" data-tab="arts" class="tab">
					<div class="sheet-col-1-3 sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm">
						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md">
								<h3>Martial Strifes</h3>
							</div>
						</div>
						<fieldset class="repeating_strifes" style="display: none;">
							<div class="sheet-row sheet-pad-b-sm">
								<div
									class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-underline sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									Strife
								</div>
								<div
									class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									<input type="text" name="attr_strife_name_repeat" placeholder="Strife Name">
								</div>
								<div
									class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="checkbox" class="sheet-circle-check"
										name="attr_strife_description_show_repeat" value="1"><span></span>
								</div>
							</div>
							<input type="checkbox" name="attr_strife_description_show_repeat"
								class="sheet-hidden sheet-hider" value="1">
							<div class="sheet-row sheet-block-a">
								<div class="sheet-col-1">
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											<textarea class="sheet-small-textarea sheet-resize-vertical"
												name="attr_strife_description_repeat"
												placeholder="Strife description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											<textarea class="sheet-small-textarea sheet-resize-vertical"
												name="attr_lesser_strife_description_repeat"
												placeholder="Lesser Strife description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md sheet-pad-b-sm">
										<div
											class="sheet-col-9-50 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Initiate
											<br>
											<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_strife_initiate_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-41-50 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_strife_initiate_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_strife_initiate_description_repeat"
												placeholder="Initiate description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md sheet-pad-b-sm">
										<div
											class="sheet-col-9-50 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Disciple
											<br>
											<div
												class="sheet-col-1-10 sheet-attr sheet-chatbutton sheet-pad-t-sm sheet-pad-r-sm">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_strife_disciple_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-41-50 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_strife_disciple_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_strife_disciple_description_repeat"
												placeholder="Disciple description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md sheet-pad-b-sm">
										<div
											class="sheet-col-9-50 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Master
											<br>
											<div
												class="sheet-col-1-10 sheet-attr sheet-chatbutton sheet-pad-t-sm sheet-pad-r-sm">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_strife_master_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-41-50 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_strife_master_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_strife_master_description_repeat"
												placeholder="Master description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="repcontainer" data-groupname="repeating_strifes"></div>
						<div class="repcontrol flexrow flex-between" data-groupname="repeating_strifes"><button
								class="btn repcontrol_edit flex0">Modify</button><button
								class="btn repcontrol_add flex0">+Add</button>
						</div>

						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md">
								<h3>True Strife Techniques</h3>
							</div>
						</div>
						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-underline sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
								Technique
							</div>
							<div
								class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-md">
								Effort
							</div>
							<div
								class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-sm">
								<br>
							</div>
						</div>
						<fieldset class="repeating_techniques" style="display: none;">
							<div class="sheet-row sheet-mar-b-sm">
								<div
									class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									<input type="text" name="attr_technique_name_repeat" placeholder="Technique name">
								</div>
								<div
									class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="number" name="attr_technique_effort_repeat" value="0">
								</div>
								<div
									class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-sm">
									<input type="checkbox" class="sheet-circle-check"
										name="attr_technique_description_show_repeat" value="1"><span></span>
								</div>
							</div>
							<input type="checkbox" name="attr_technique_description_show_repeat"
								class="sheet-hidden sheet-hider" value="1">
							<div class="sheet-row sheet-block-a sheet-pad-t-sm sheet-pad-r-sm sheet-pad-b-sm">
								<div class="sheet-col-9-10 sheet-attr sheet-auto-expand">
									<span class="sheet-medium-expand" name="attr_technique_description_repeat"></span>
									<textarea class="sheet-medium-textarea" name="attr_technique_description_repeat"
										placeholder="Technique description"></textarea>
								</div>
								<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
									<button type="roll" class="sheet-button btn ui-draggable"
										name="roll_technique_broadcast_repeat" value=""></button>
								</div>
							</div>
						</fieldset>
						<div class="repcontainer" data-groupname="repeating_techniques"></div>
						<div class="repcontrol flexrow flex-between" data-groupname="repeating_techniques"><button
								class="btn repcontrol_edit flex0">Modify</button><button
								class="btn repcontrol_add flex0">+Add</button>
						</div>
					</div>
					<div class="sheet-col-1-3 sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm">

						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md">
								<h3>Low Magic</h3>
							</div>
						</div>
						<fieldset class="repeating_spells" style="display: none;">
							<div class="sheet-row sheet-pad-b-sm">
								<div
									class="sheet-col-1-5 sheet-attr sheet-vert-middle sheet-underline sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									Tradition
								</div>
								<div
									class="sheet-col-3-4 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									<input type="text" name="attr_tradition_name_repeat" placeholder="Tradition Name">
								</div>
								<div
									class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="checkbox" class="sheet-circle-check"
										name="attr_tradition_description_show_repeat" value="1"><span></span>
								</div>
							</div>
							<input type="checkbox" name="attr_tradition_description_show_repeat"
								class="sheet-hidden sheet-hider" value="1">
							<div class="sheet-row sheet-block-a">
								<div class="sheet-col-1">
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											<textarea class="sheet-small-textarea sheet-resize-vertical"
												name="attr_tradition_description_repeat"
												placeholder="Tradition description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1-4 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Apprentice
											<br>
											<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_tradition_apprentice_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-3-4 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_tradition_apprentice_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_tradition_apprentice_description_repeat"
												placeholder="Apprentice description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1-4 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Adept
											<br>
											<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_tradition_adept_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-3-4 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_tradition_adept_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_tradition_adept_description_repeat"
												placeholder="Adept description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1-4 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Master
											<br>
											<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_tradition_master_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-3-4 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_tradition_master_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_tradition_master_description_repeat"
												placeholder="Master description"></textarea>
										</div>
									</div>
									<div class="sheet-row sheet-pad-b-sm">
										<div
											class="sheet-col-1-4 sheet-attr sheet-vert-top sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
											Archmage
											<br>
											<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
												<button type="roll" class="sheet-button btn ui-draggable"
													name="roll_tradition_archamage_broadcast_repeat" value=""></button>
											</div>
										</div>
										<div class="sheet-col-3-4 sheet-attr sheet-vert-middle sheet-auto-expand">
											<span class="sheet-small-expand"
												name="attr_tradition_archmage_description_repeat"></span>
											<textarea class="sheet-small-textarea"
												name="attr_tradition_archmage_description_repeat"
												placeholder="Archmage description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="repcontainer" data-groupname="repeating_spells"></div>
						<div class="repcontrol flexrow flex-between" data-groupname="repeating_spells"><button
								class="btn repcontrol_edit flex0">Modify</button><button
								class="btn repcontrol_add flex0">+Add</button>
						</div>
					</div>
					<div class="sheet-col-1-3 sheet-pad-t-md sheet-pad-r-md sheet-pad-b-sm">

						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md">
								<h3>Invocations of the Gate</h3>
							</div>
						</div>
						<div class="sheet-row sheet-pad-b-md">
							<div
								class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-underline sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
								Invocation
							</div>
							<div
								class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-md">
								Effort
							</div>
							<div
								class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-sm">
								<br>
							</div>
						</div>
						<fieldset class="repeating_gate" style="display: none;">
							<div class="sheet-row sheet-mar-b-sm">
								<div
									class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									<input type="text" name="attr_invocation_gate_name_repeat"
										placeholder="Invocation name">
								</div>
								<div
									class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="number" name="attr_invocation_gate_effort_repeat" value="0">
								</div>
								<div
									class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="checkbox" class="sheet-circle-check"
										name="attr_invocation_gate_description_show_repeat" value="1"><span></span>
								</div>
							</div>
							<input type="checkbox" name="attr_invocation_gate_description_show_repeat"
								class="sheet-hidden sheet-hider" value="1">
							<div class="sheet-row sheet-block-a sheet-pad-b-sm">
								<div class="sheet-col-9-10 sheet-attr sheet-auto-expand">
									<span class="sheet-medium-expand"
										name="attr_invocation_gate_description_repeat"></span>
									<textarea class="sheet-medium-textarea"
										name="attr_invocation_gate_description_repeat"
										placeholder="Gift description"></textarea>
								</div>
								<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
									<button type="roll" class="sheet-button btn ui-draggable"
										name="roll_invocation_gate_broadcast_repeat" value=""></button>
								</div>
							</div>
						</fieldset>
						<div class="repcontainer" data-groupname="repeating_gate"></div>
						<div class="repcontrol flexrow flex-between" data-groupname="repeating_gate"><button
								class="btn repcontrol_edit flex0">Modify</button><button
								class="btn repcontrol_add flex0">+Add</button>
						</div>
						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md">
								<h3>Invocations of the Way</h3>
							</div>
						</div>
						<div class="sheet-row sheet-pad-b-md">
							<div
								class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-underline sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
								Invocation
							</div>
							<div
								class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-md">
								Effort
							</div>
							<div
								class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-sm">
								<br>
							</div>
						</div>
						<fieldset class="repeating_way" style="display: none;">
							<div class="sheet-row sheet-mar-b-sm">
								<div
									class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									<input type="text" name="attr_invocation_way_name_repeat"
										placeholder="Invocation name">
								</div>
								<div
									class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="number" name="attr_invocation_way_effort_repeat" value="0">
								</div>
								<div
									class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="checkbox" class="sheet-circle-check"
										name="attr_invocation_way_description_show_repeat" value="1"><span></span>
								</div>
							</div>
							<input type="checkbox" name="attr_invocation_way_description_show_repeat"
								class="sheet-hidden sheet-hider" value="1">
							<div class="sheet-row sheet-block-a sheet-pad-b-sm">
								<div class="sheet-col-9-10 sheet-attr sheet-auto-expand">
									<span class="sheet-medium-expand"
										name="attr_invocation_way_description_repeat"></span>
									<textarea class="sheet-medium-textarea"
										name="attr_invocation_way_description_repeat"
										placeholder="Gift description"></textarea>
								</div>
								<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
									<button type="roll" class="sheet-button btn ui-draggable"
										name="roll_invocation_way_broadcast_repeat" value=""></button>
								</div>
							</div>
						</fieldset>
						<div class="repcontainer" data-groupname="repeating_way"></div>
						<div class="repcontrol flexrow flex-between" data-groupname="repeating_way"><button
								class="btn repcontrol_edit flex0">Modify</button><button
								class="btn repcontrol_add flex0">+Add</button>
						</div>
						<div class="sheet-row sheet-pad-b-sm">
							<div
								class="sheet-col-1 sheet-title-banner-subheading sheet-pad-t-md sheet-pad-b-sm sheet-mar-t-md">
								<h3>Invocations of the Throne</h3>
							</div>
						</div>
						<div class="sheet-row sheet-pad-b-md">
							<div
								class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-underline sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
								Invocation
							</div>
							<div
								class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-md">
								Effort
							</div>
							<div
								class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-underline sheet-pad-t-sm sheet-pad-r-sm">
								<br>
							</div>
						</div>
						<fieldset class="repeating_throne" style="display: none;">
							<div class="sheet-row sheet-mar-b-sm">
								<div
									class="sheet-col-4-5 sheet-attr sheet-vert-middle sheet-pad-l-sm sheet-pad-t-sm sheet-pad-r-md">
									<input type="text" name="attr_invocation_throne_name_repeat"
										placeholder="Invocation name">
								</div>
								<div
									class="sheet-col-3-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="number" name="attr_invocation_throne_effort_repeat" value="0">
								</div>
								<div
									class="sheet-col-1-20 sheet-attr sheet-vert-middle sheet-center sheet-pad-t-sm sheet-pad-r-sm">
									<input type="checkbox" class="sheet-circle-check"
										name="attr_invocation_throne_description_show_repeat" value="1"><span></span>
								</div>
							</div>
							<input type="checkbox" name="attr_invocation_throne_description_show_repeat"
								class="sheet-hidden sheet-hider" value="1">
							<div class="sheet-row sheet-block-a sheet-pad-b-sm">
								<div class="sheet-col-9-10 sheet-attr sheet-auto-expand">
									<span class="sheet-small-expand"
										name="attr_invocation_throne_description_repeat"></span>
									<textarea class="sheet-small-textarea"
										name="attr_invocation_throne_description_repeat"
										placeholder="Gift description"></textarea>
								</div>
								<div class="sheet-col-1-10 sheet-attr sheet-chatbutton">
									<button type="roll" class="sheet-button btn ui-draggable"
										name="roll_invocation_throne_broadcast_repeat" value=""></button>
								</div>
							</div>
						</fieldset>
						<div class="repcontainer" data-groupname="repeating_throne"></div>
						<div class="repcontrol flexrow flex-between" data-groupname="repeating_throne"><button
								class="btn repcontrol_edit flex0">Modify</button><button
								class="btn repcontrol_add flex0">+Add</button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div> <!-- Bottom of sheet section npc-->
</form>