{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="sheetform godbound charsheet-form"
  style="height: 550px; width: 1000px; min-width: 1000px; min-height: 500px; margin: -8px;" autocomplete="off">
  <div class="flexrow" style="justify-content: center; margin-bottom: -10px;"> <!--  -->
    <h1 class="flex0" style="white-space: nowrap; text-decoration: underline; margin-right: 11px;">
      Attack Profile</h1>
  </div>
  <div class="flexcol" style="padding-left: 5px; padding-right: 5px;">
    <hr />
    <div class="flexrow flex-start"
      style="margin-bottom: 0px; align-items: center; white-space: nowrap; margin-left: 0px;">
      <img class="flex0" src="{{item.img}}" style="height: 50px; width: 50px; margin-right: 11px;" data-edit="img"
        title="{{item.name}}" />
      <!-- <label class="flex0" style="font-weight: bold; margin-right: 5px;">Description: </label> -->
      <textarea class="flex1" name="system.base.description" placeholder="Enter Description"
        style="height: 50;max-height: 50px; min-width: 200px; margin-right: 5px;">{{system.base.description}}</textarea>
    </div>
    <hr />
    <div class="flexrow flex-start"
      style="margin-bottom: 0px; align-items: center; white-space: nowrap; margin-left: 0px;">
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Name: </label>
      <input class="flex0" style="line-height: 20px; min-width: 100px; margin-right: 11px;" name="system.base.name"
        value="{{system.base.name}}" type="text" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Range: </label>
      <input class="flex0" style="line-height: 20px; min-width: 40px; margin-right: 11px; text-align: center;" name="system.range.rangeSize"
        value="{{system.range.rangeSize}}" type="number" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Range Units: </label>
      <select class="flex0 sheet-select" name="system.range.rangeUnits"
        style="line-height: 20px; width: max-content; margin-right: 11px;">
        {{selectOptions rangeUnitChoices selected=system.range.rangeUnits}}
      </select>
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Is Area: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
        name="system.area.isArea" {{checked system.area.isArea}} type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Area: </label>
      <input class="flex0" style="line-height: 20px; min-width: 40px; margin-right: 11px; text-align: center;" name="system.area.areaSize"
        value="{{system.area.areaSize}}" type="number" {{disabled (not system.area.isArea)}} />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Area Units: </label>
      <select class="flex0 sheet-select" name="system.area.areaUnits" {{disabled (not system.area.isArea)}}
        style="line-height: 20px; width: max-content; margin-right: 11px;">
        {{selectOptions rangeUnitChoices selected=system.area.areaUnits}}
      </select>
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Area Shape: </label>
      <select class="flex0 sheet-select" name="system.area.areaShape" {{disabled (not system.area.isArea)}}
        style="line-height: 20px; width: max-content; margin-right: 0px;">
        {{selectOptions areaShapeChoices selected=system.area.areaShape}}
      </select>
    </div>
    <hr />
    <div class="flexrow flex-start"
      style="margin-bottom: 0px; align-items: center; white-space: nowrap; margin-left: 0px;">
      <!-- <label class="flex0" style="font-weight: bold; margin-right: 5px;">To Hit: </label>
      <input class="flex0" style="line-height: 20px; min-width: 100px; margin-right: 11px;" name="" value=""  
        type="text" /> -->
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Automatic Hit: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
        name="system.toHit.isAutomatic" {{checked system.toHit.isAutomatic}} type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Attribute: </label>
      <select class="flex0 sheet-select" name="system.toHit.relevantAttribute" {{disabled system.toHit.isAutomatic}}
        style="line-height: 20px; width: max-content; margin-right: 11px;">
        {{selectOptions attributeChoices selected=system.toHit.relevantAttribute}}
      </select>
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Apply Attr: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;" {{disabled
        system.toHit.isAutomatic}} name="system.toHit.useAttrBonus" {{checked system.toHit.useAttrBonus}}
        type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Apply Level: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;" {{disabled
        system.toHit.isAutomatic}} name="system.toHit.useLevelBonus" {{checked system.toHit.useLevelBonus}}
        type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Misc Bonus: </label>
      <input class="flex0" style="line-height: 20px; min-width: 25px; margin-right: 11px; text-align: center;" name="system.toHit.miscBonus"
        {{disabled system.toHit.isAutomatic}} value="{{system.toHit.miscBonus}}" type="number" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Apply Advantage: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;" {{disabled
        system.toHit.isAutomatic}} name="system.toHit.isAdvantaged" {{checked system.toHit.isAdvantaged}}
        type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Apply Disadvantage: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;" {{disabled
        system.toHit.isAutomatic}} name="system.toHit.isDisadvantaged" {{checked system.toHit.isDisadvantaged}}
        type="checkbox" />
    </div>
    <hr />
    <div class="flexrow flex-start"
      style="margin-bottom: 0px; align-items: center; white-space: nowrap; margin-left: 0px;">
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Is Melee: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
        name="system.isMelee" {{checked system.isMelee}} type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Is Magical Attack: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
        name="system.isMagicalAttack" {{checked system.isMagicalAttack}} type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Can Target Worthy Foes: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
        name="system.canTargetWorthyFoes" {{checked system.canTargetWorthyFoes}} type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px">Is Smite: </label>
      <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
        name="system.isSmite" {{checked system.isSmite}} type="checkbox" />
      <label class="flex0" style="font-weight: bold; margin-right: 5px;">Effort: </label>
      <select class="flex0 sheet-select" name="system.effortCommitment"
        style="line-height: 20px; width: max-content; margin-right: 11px;">
        {{selectOptions effortChoices selected=system.effortCommitment}}
      </select>
    </div>
    <hr />
  </div>
  <!-- class="main grid-span-2" -->
  {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
  module/helpers/templates.mjs --}}
  <div class="flexrow flex-start"
    style="margin-bottom: 0px; margin-left: 5px; align-items: center; white-space: nowrap;">
    <label class="flex0" style="font-style: italic; margin-right: 5px">Has Damage: </label>
    <input class="flex0" style="line-height: 20px; margin-right: 8px; margin-left: -5px; min-width: 30px;"
      name="system.damage.enableDamage" {{checked system.damage.enableDamage}} type="checkbox" />
  </div>
  {{#if system.damage.enableDamage}}
  {{> "systems/godbound/system/items/templates/parts/damage.html"}}
  {{/if}}

</form>